env.py
venv
__pycache__
*.log
.xlsx
*.xlsx
*.mp3
*.csv
github/*
.vscode
scripts/env.py
selenium/
*/trash/*
trash/*
forebet/file/*.html
config/*.json
*log*.txt
*log.html
~/.config/*
.~lock.*
trash/*
cookies.pkl
daily_data/*
forebet/data.html
.venv
forebet/data.html
error_by_link.txt
content.txt
*.lzma
daily_data/202**
daily_data/2024-*
daily_data/2024-08-12/2024-08-12.txt
daily_data/2024-08-12/2024-08-12.txt
daily_data/2024-08-10/2024-08-10.txt
daily_data/2024-08-04/2024-08-04.txt
daily_data/01-08-2024/111.html
1x2lucksport/04-08-2024.html
Wvenv/*
*data.html*
forebet/data.html
forebet/data.html
forebet/data.html
daily_data/111.html
scraped_pages
# Ignore tout le venv
Bvenv/

# Exception : ne pas ignorer les dossiers parents nécessaires
!Bvenv/Lib/
!Bvenv/Lib/site-packages/browser_use/
!Bvenv/Lib/site-packages/browser_use/agent/

scripts/.env*
scripts/**/.env*
scripts/editing-video/media_cache/*
scripts/editing-video/daily_data/*

scripts/editing-video/*.mp4
scripts/gmail/credentials.json
scripts/gmail/token.json
