env.py
venv
__pycache__
*.log
.xlsx
*.xlsx
*.mp3
*.csv
github/*
.vscode
scripts/env.py
selenium/
*/trash/*
forebet/file/*.html
config/*.json
*log*.txt
*log.html
~/.config/*
.~lock.*
trash/*
cookies.pkl
daily_data/*
forebet/data.html
