seleniumbase
beautifulsoup4
pandas
openpyxl
requests
playsound
undetected_chromedriver
google-api-python-client
google-auth 
google-auth-oauthlib 
google-auth-httplib2
together
justext
lxml
courlan
htmldate